[dotenv@17.2.3] injecting env (6) from .env -- tip: ≡ƒöÉ encrypt with Dotenvx: https://dotenvx.com
[dotenv@17.2.3] injecting env (0) from .env.local -- tip: ≡ƒ¢á∩╕Å  run anywhere with `dotenvx run -- yourcommand`
≡ƒöì Processing 100 figures for Wikipedia infobox images...

[1/100] Processing: Catherine the Great
≡ƒôû Checking Wikipedia: Catherine_the_Great
   Γ£à Found Wikipedia infobox image
[2/100] Processing: Otto von Bismarck
≡ƒôû Checking Wikipedia: Otto_von_Bismarck
   Γ£à Found Wikipedia infobox image
[3/100] Processing: Margaret Thatcher
≡ƒôû Checking Wikipedia: Margaret_Thatcher
   Γ£à Found Wikipedia infobox image
[4/100] Processing: Charles de Gaulle
≡ƒôû Checking Wikipedia: Charles_de_Gaulle
   Γ£à Found Wikipedia infobox image
[5/100] Processing: Vladimir Lenin
≡ƒôû Checking Wikipedia: Vladimir_Lenin
   Γ£à Found Wikipedia infobox image
[6/100] Processing: Franklin D. Roosevelt
≡ƒôû Checking Wikipedia: Franklin_D._Roosevelt
   Γ£à Found Wikipedia infobox image
[7/100] Processing: Fidel Castro
≡ƒôû Checking Wikipedia: Fidel_Castro
   Γ£à Found Wikipedia infobox image
[8/100] Processing: Che Guevara
≡ƒôû Checking Wikipedia: Che_Guevara
   Γ£à Found Wikipedia infobox image
[9/100] Processing: Theodore Roosevelt
≡ƒôû Checking Wikipedia: Theodore_Roosevelt
   Γ£à Found Wikipedia infobox image
[10/100] Processing: Sim├│n Bol├¡var
≡ƒôû Checking Wikipedia: Sim├│n_Bol├¡var
   Γ£à Found Wikipedia infobox image
[11/100] Processing: Mao Zedong
≡ƒôû Checking Wikipedia: Mao_Zedong
   Γ£à Found Wikipedia infobox image
[12/100] Processing: Jawaharlal Nehru
≡ƒôû Checking Wikipedia: Jawaharlal_Nehru
   Γ£à Found Wikipedia infobox image
[13/100] Processing: Haile Selassie
≡ƒôû Checking Wikipedia: Haile_Selassie
   Γ£à Found Wikipedia infobox image
[14/100] Processing: Alexander the Great
≡ƒôû Checking Wikipedia: Alexander_the_Great
   Γ£à Found Wikipedia infobox image
[15/100] Processing: Hannibal Barca
≡ƒôû Checking Wikipedia: Hannibal_Barca
   Γ£à Found Wikipedia infobox image
[16/100] Processing: Saladin
≡ƒôû Checking Wikipedia: Saladin
   Γ£à Found Wikipedia infobox image
[17/100] Processing: Richard the Lionheart
≡ƒôû Checking Wikipedia: Richard_the_Lionheart
   Γ£à Found Wikipedia infobox image
[18/100] Processing: Hern├ín Cort├⌐s
≡ƒôû Checking Wikipedia: Hern├ín_Cort├⌐s
   Γ£à Found Wikipedia infobox image
[19/100] Processing: Stonewall Jackson
≡ƒôû Checking Wikipedia: Stonewall_Jackson
   Γ£à Found Wikipedia infobox image
[20/100] Processing: Ulysses S. Grant
≡ƒôû Checking Wikipedia: Ulysses_S._Grant
   Γ£à Found Wikipedia infobox image
[21/100] Processing: Dwight D. Eisenhower
≡ƒôû Checking Wikipedia: Dwight_D._Eisenhower
   Γ£à Found Wikipedia infobox image
[22/100] Processing: Erwin Rommel
≡ƒôû Checking Wikipedia: Erwin_Rommel
   Γ£à Found Wikipedia infobox image
[23/100] Processing: Douglas MacArthur
≡ƒôû Checking Wikipedia: Douglas_MacArthur
   Γ£à Found Wikipedia infobox image
[24/100] Processing: T.E. Lawrence
≡ƒôû Checking Wikipedia: T.E._Lawrence
   Γ£à Found Wikipedia infobox image
[25/100] Processing: Isoroku Yamamoto
≡ƒôû Checking Wikipedia: Isoroku_Yamamoto
   Γ£à Found Wikipedia infobox image
[26/100] Processing: Vo Nguyen Giap
≡ƒôû Checking Wikipedia: Vo_Nguyen_Giap
   Γ£à Found Wikipedia infobox image
[27/100] Processing: Archimedes
≡ƒôû Checking Wikipedia: Archimedes
   Γ£à Found Wikipedia infobox image
[28/100] Processing: Copernicus
≡ƒôû Checking Wikipedia: Copernicus
   Γ£à Found Wikipedia infobox image
[29/100] Processing: Antonie van Leeuwenhoek
≡ƒôû Checking Wikipedia: Antonie_van_Leeuwenhoek
   Γ£à Found Wikipedia infobox image
[30/100] Processing: Carl Linnaeus
≡ƒôû Checking Wikipedia: Carl_Linnaeus
   Γ£à Found Wikipedia infobox image
[31/100] Processing: Alfred Nobel
≡ƒôû Checking Wikipedia: Alfred_Nobel
   Γ£à Found Wikipedia infobox image
[32/100] Processing: Thomas Edison
≡ƒôû Checking Wikipedia: Thomas_Edison
   Γ£à Found Wikipedia infobox image
[33/100] Processing: Nikola Tesla
≡ƒôû Checking Wikipedia: Nikola_Tesla
   Γ£à Found Wikipedia infobox image
[34/100] Processing: Linus Pauling
≡ƒôû Checking Wikipedia: Linus_Pauling
   Γ£à Found Wikipedia infobox image
[35/100] Processing: Richard Feynman
≡ƒôû Checking Wikipedia: Richard_Feynman
   Γ£à Found Wikipedia infobox image
[36/100] Processing: Carl Sagan
≡ƒôû Checking Wikipedia: Carl_Sagan
   Γ£à Found Wikipedia infobox image
[37/100] Processing: J. Robert Oppenheimer
≡ƒôû Checking Wikipedia: J._Robert_Oppenheimer
   Γ£à Found Wikipedia infobox image
[38/100] Processing: Subrahmanyan Chandrasekhar
≡ƒôû Checking Wikipedia: Subrahmanyan_Chandrasekhar
   Γ£à Found Wikipedia infobox image
[39/100] Processing: Hideki Yukawa
≡ƒôû Checking Wikipedia: Hideki_Yukawa
   Γ£à Found Wikipedia infobox image
[40/100] Processing: Augustine of Hippo
≡ƒôû Checking Wikipedia: Augustine_of_Hippo
   Γ£à Found Wikipedia infobox image
[41/100] Processing: Francis of Assisi
≡ƒôû Checking Wikipedia: Francis_of_Assisi
   Γ£à Found Wikipedia infobox image
[42/100] Processing: Martin Luther
≡ƒôû Checking Wikipedia: Martin_Luther
   Γ£à Found Wikipedia infobox image
[43/100] Processing: Ignatius Loyola
≡ƒôû Checking Wikipedia: Ignatius_Loyola
   Γ£à Found Wikipedia infobox image
[44/100] Processing: John Calvin
≡ƒôû Checking Wikipedia: John_Calvin
   Γ£à Found Wikipedia infobox image
[45/100] Processing: Mother Teresa
≡ƒôû Checking Wikipedia: Mother_Teresa
   Γ£à Found Wikipedia infobox image
[46/100] Processing: Billy Graham
≡ƒôû Checking Wikipedia: Billy_Graham
   Γ£à Found Wikipedia infobox image
[47/100] Processing: Pope John Paul II
≡ƒôû Checking Wikipedia: Pope_John_Paul_II
   Γ£à Found Wikipedia infobox image
[48/100] Processing: Desmond Tutu
≡ƒôû Checking Wikipedia: Desmond_Tutu
   Γ£à Found Wikipedia infobox image
[49/100] Processing: Dalai Lama XIV
≡ƒôû Checking Wikipedia: Dalai_Lama_XIV
   Γ£à Found Wikipedia infobox image
[50/100] Processing: Muhammad
≡ƒôû Checking Wikipedia: Muhammad
   Γ£à Found Wikipedia infobox image
[51/100] Processing: Gautama Buddha
≡ƒôû Checking Wikipedia: Gautama_Buddha
   Γ£à Found Wikipedia infobox image
[52/100] Processing: Michelangelo Buonarroti
≡ƒôû Checking Wikipedia: Michelangelo_Buonarroti
   Γ£à Found Wikipedia infobox image
[53/100] Processing: Ludwig van Beethoven
≡ƒôû Checking Wikipedia: Ludwig_van_Beethoven
   Γ£à Found Wikipedia infobox image
[54/100] Processing: Fr├⌐d├⌐ric Chopin
≡ƒôû Checking Wikipedia: Fr├⌐d├⌐ric_Chopin
   Γ£à Found Wikipedia infobox image
[55/100] Processing: Vincent van Gogh
≡ƒôû Checking Wikipedia: Vincent_van_Gogh
   Γ£à Found Wikipedia infobox image
[56/100] Processing: Johann Sebastian Bach
≡ƒôû Checking Wikipedia: Johann_Sebastian_Bach
   Γ£à Found Wikipedia infobox image
[57/100] Processing: Mark Twain
≡ƒôû Checking Wikipedia: Mark_Twain
   Γ£à Found Wikipedia infobox image
[58/100] Processing: Ernest Hemingway
≡ƒôû Checking Wikipedia: Ernest_Hemingway
   Γ£à Found Wikipedia infobox image
[59/100] Processing: Louis Armstrong
≡ƒôû Checking Wikipedia: Louis_Armstrong
   Γ£à Found Wikipedia infobox image
[60/100] Processing: Charlie Chaplin
≡ƒôû Checking Wikipedia: Charlie_Chaplin
   Γ£à Found Wikipedia infobox image
[61/100] Processing: Toni Morrison
≡ƒôû Checking Wikipedia: Toni_Morrison
   Γ£à Found Wikipedia infobox image
[62/100] Processing: Rabindranath Tagore
≡ƒôû Checking Wikipedia: Rabindranath_Tagore
   Γ£à Found Wikipedia infobox image
[63/100] Processing: Yasunari Kawabata
≡ƒôû Checking Wikipedia: Yasunari_Kawabata
   Γ£à Found Wikipedia infobox image
[64/100] Processing: Amelia Earhart
≡ƒôû Checking Wikipedia: Amelia_Earhart
   Γ£à Found Wikipedia infobox image
[65/100] Processing: Marco Polo
≡ƒôû Checking Wikipedia: Marco_Polo
   Γ£à Found Wikipedia infobox image
[66/100] Processing: Christopher Columbus
≡ƒôû Checking Wikipedia: Christopher_Columbus
   Γ£à Found Wikipedia infobox image
[67/100] Processing: Ferdinand Magellan
≡ƒôû Checking Wikipedia: Ferdinand_Magellan
   Γ£à Found Wikipedia infobox image
[68/100] Processing: James Cook
≡ƒôû Checking Wikipedia: James_Cook
   Γ£à Found Wikipedia infobox image
[69/100] Processing: Lewis and Clark
≡ƒôû Checking Wikipedia: Lewis_and_Clark
   Γ£à Found Wikipedia infobox image
[70/100] Processing: Roald Amundsen
≡ƒôû Checking Wikipedia: Roald_Amundsen
   Γ£à Found Wikipedia infobox image
[71/100] Processing: Ernest Shackleton
≡ƒôû Checking Wikipedia: Ernest_Shackleton
   Γ£à Found Wikipedia infobox image
[72/100] Processing: Howard Carter
≡ƒôû Checking Wikipedia: Howard_Carter
   Γ£à Found Wikipedia infobox image
[73/100] Processing: Jacque Cousteau
≡ƒôû Checking Wikipedia: Jacque_Cousteau
   Γ£à Found Wikipedia infobox image
[74/100] Processing: Ranulph Fiennes
≡ƒôû Checking Wikipedia: Ranulph_Fiennes
   Γ£à Found Wikipedia infobox image
[75/100] Processing: Zheng He
≡ƒôû Checking Wikipedia: Zheng_He
   Γ£à Found Wikipedia infobox image
[76/100] Processing: Ibn Battuta
≡ƒôû Checking Wikipedia: Ibn_Battuta
   Γ£à Found Wikipedia infobox image
[77/100] Processing: Susan B. Anthony
≡ƒôû Checking Wikipedia: Susan_B._Anthony
   Γ£à Found Wikipedia infobox image
[78/100] Processing: Elizabeth Blackwell
≡ƒôû Checking Wikipedia: Elizabeth_Blackwell
   Γ£à Found Wikipedia infobox image
[79/100] Processing: Florence Nightingale
≡ƒôû Checking Wikipedia: Florence_Nightingale
   Γ£à Found Wikipedia infobox image
[80/100] Processing: Marie Curie
≡ƒôû Checking Wikipedia: Marie_Curie
   Γ£à Found Wikipedia infobox image
[81/100] Processing: Rosa Luxemburg
≡ƒôû Checking Wikipedia: Rosa_Luxemburg
   Γ£à Found Wikipedia infobox image
[82/100] Processing: Harriet Tubman
≡ƒôû Checking Wikipedia: Harriet_Tubman
   Γ£à Found Wikipedia infobox image
[83/100] Processing: Frederick Douglass
≡ƒôû Checking Wikipedia: Frederick_Douglass
   Γ£à Found Wikipedia infobox image
[84/100] Processing: Jane Addams
≡ƒôû Checking Wikipedia: Jane_Addams
   Γ£à Found Wikipedia infobox image
[85/100] Processing: Wangari Maathai
≡ƒôû Checking Wikipedia: Wangari_Maathai
   Γ£à Found Wikipedia infobox image
[86/100] Processing: Eleanor Roosevelt
≡ƒôû Checking Wikipedia: Eleanor_Roosevelt
   Γ£à Found Wikipedia infobox image
[87/100] Processing: Mahatma Gandhi
≡ƒôû Checking Wikipedia: Mahatma_Gandhi
   Γ£à Found Wikipedia infobox image
[88/100] Processing: Malala Yousafzai
≡ƒôû Checking Wikipedia: Malala_Yousafzai
   Γ£à Found Wikipedia infobox image
[89/100] Processing: Andrew Carnegie
≡ƒôû Checking Wikipedia: Andrew_Carnegie
   Γ£à Found Wikipedia infobox image
[90/100] Processing: John D. Rockefeller
≡ƒôû Checking Wikipedia: John_D._Rockefeller
   Γ£à Found Wikipedia infobox image
[91/100] Processing: Henry Ford
≡ƒôû Checking Wikipedia: Henry_Ford
   Γ£à Found Wikipedia infobox image
[92/100] Processing: J.P. Morgan
≡ƒôû Checking Wikipedia: J.P._Morgan
   Γ£à Found Wikipedia infobox image
[93/100] Processing: Cornelius Vanderbilt
≡ƒôû Checking Wikipedia: Cornelius_Vanderbilt
   Γ£à Found Wikipedia infobox image
[94/100] Processing: John Jacob Astor
≡ƒôû Checking Wikipedia: John_Jacob_Astor
   Γ£à Found Wikipedia infobox image
[95/100] Processing: Andrew Mellon
≡ƒôû Checking Wikipedia: Andrew_Mellon
   Γ£à Found Wikipedia infobox image
[96/100] Processing: Warren Buffett
≡ƒôû Checking Wikipedia: Warren_Buffett
   Γ£à Found Wikipedia infobox image
[97/100] Processing: Bill Gates
≡ƒôû Checking Wikipedia: Bill_Gates
   Γ£à Found Wikipedia infobox image
[98/100] Processing: Jeff Bezos
≡ƒôû Checking Wikipedia: Jeff_Bezos
   Γ£à Found Wikipedia infobox image
[99/100] Processing: Mukesh Ambani
≡ƒôû Checking Wikipedia: Mukesh_Ambani
   Γ£à Found Wikipedia infobox image
[100/100] Processing: Li Ka-shing
≡ƒôû Checking Wikipedia: Li_Ka-shing
   Γ£à Found Wikipedia infobox image

≡ƒôï RESULTS SUMMARY:
==================
Γ£à Successful: 100
Γ¥î No image: 0
≡ƒÆÑ Errors: 0

-- Wikipedia Infobox Images Update
-- Generated for HistoGuesser migration
-- Run these UPDATE statements to fix the image URLs

UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/0b/Levitzky_Portrait_Catherine_II_1782.jpg"') WHERE name = 'Catherine the Great';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/5/59/Otto_von_Bismarck_1885_%28cropped%29.jpg"') WHERE name = 'Otto von Bismarck';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/3/3d/Margaret_Thatcher_stock_portrait_%28cropped%29.jpg"') WHERE name = 'Margaret Thatcher';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/79/De_Gaulle-OWI_%283x4_cropped%29_%282%29.jpg"') WHERE name = 'Charles de Gaulle';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/c/c0/Lenin_in_1920_%28cropped%29.jpg"') WHERE name = 'Vladimir Lenin';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/f/fd/FDR-1944-Campaign-Portrait_%283x4_retouched%2C_cropped%29.jpg"') WHERE name = 'Franklin D. Roosevelt';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/1/1f/Fidel_Castro%2C_Prime_Minister_of_Cuba._Castro_at_the_United_Nations%2C_New_York._%28cropped%29.jpg"') WHERE name = 'Fidel Castro';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/8/80/Che_Guevara_-_Guerrillero_Heroico_by_Alberto_Korda.jpg"') WHERE name = 'Che Guevara';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/7d/Theodore_Roosevelt_by_the_Pach_Bros_%284x5_cropped%29.jpg"') WHERE name = 'Theodore Roosevelt';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/8/87/Sim%C3%B3n_Bol%C3%ADvar._Toro_Moreno%2C_Luis._1922%2C_Legislative_Palace%2C_La_Paz.png"') WHERE name = 'Sim├│n Bol├¡var';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/1/1b/Mao_Tse_Tung_%28cropped%29%282%29.jpg"') WHERE name = 'Mao Zedong';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/b/bc/Jawaharlal_Nehru%2C_1947.jpg"') WHERE name = 'Jawaharlal Nehru';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/b/b9/Haile_Selassie_in_full_dress_%283x4_cropped%29.jpg"') WHERE name = 'Haile Selassie';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/8/84/Alexander_the_Great_mosaic_%28cropped%29.jpg"') WHERE name = 'Alexander the Great';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/b/b4/Hannibal_Barca_bust_from_Capua_photo.jpg"') WHERE name = 'Hannibal Barca';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/7c/Al-Nasir_I_Salah_al-Din_Yusuf_%28Saladin%29._AH_564-589_%281169-1193_CE%29_%C3%86_Dirham_%2830.1mm%2C_13.28_g%2C_6h%29._Without_mint-name._Dated_AH_586_%28AD_1190-91%29._Sultan_sitting_facing%2C_cross-legged%2C_on_high-backed_throne_%28obverse%29.jpg"') WHERE name = 'Saladin';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/6/6b/Church_of_Fontevraud_Abbey_Richard_I_effigy.jpg"') WHERE name = 'Richard the Lionheart';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/06/Retrato_de_Hern%C3%A1n_Cort%C3%A9s.jpg"') WHERE name = 'Hern├ín Cort├⌐s';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/d/d6/Jackson-Stonewall-LOC.jpg"') WHERE name = 'Stonewall Jackson';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/9/98/Ulysses_S._Grant_1870-1880_%28cropped%29.jpg"') WHERE name = 'Ulysses S. Grant';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/02/Dwight_D._Eisenhower%2C_official_photo_portrait%2C_May_29%2C_1959_%28cropped%29%283%29.jpg"') WHERE name = 'Dwight D. Eisenhower';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/75/Bundesarchiv_Bild_146-1973-012-43%2C_Erwin_Rommel.jpg"') WHERE name = 'Erwin Rommel';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/b/bc/MacArthur_Manila_%28cropped2%29.jpg"') WHERE name = 'Douglas MacArthur';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/2/2d/Te_lawrence.jpg"') WHERE name = 'T.E. Lawrence';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/79/Portrait_of_Yamamoto_Isoroku.jpg"') WHERE name = 'Isoroku Yamamoto';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/c/c8/Mr._Vo_Nguyen_Giap_%28cropped%29.jpg"') WHERE name = 'Vo Nguyen Giap';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/e/e7/Domenico-Fetti_Archimedes_1620.jpg"') WHERE name = 'Archimedes';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/e/e2/Nikolaus_Kopernikus_MOT.jpg"') WHERE name = 'Copernicus';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/1/1f/Anthonie_van_Leeuwenhoek_%281632-1723%29._Natuurkundige_te_Delft_Rijksmuseum_SK-A-957.jpeg"') WHERE name = 'Antonie van Leeuwenhoek';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/3/3c/Carl_von_Linn%C3%A9%2C_1707-1778%2C_botanist%2C_professor_%28Alexander_Roslin%29_-_Nationalmuseum_-_15723_%28cropped%29.tif"') WHERE name = 'Carl Linnaeus';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/07/Alfred_Nobel3.jpg"') WHERE name = 'Alfred Nobel';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/9/9d/Thomas_Edison2.jpg"') WHERE name = 'Thomas Edison';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/79/Tesla_circa_1890.jpeg"') WHERE name = 'Nikola Tesla';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/5/53/Linus_Pauling_in_the_1940s.jpg"') WHERE name = 'Linus Pauling';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/en/4/42/Richard_Feynman_Nobel.jpg"') WHERE name = 'Richard Feynman';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/b/be/Carl_Sagan_Planetary_Society.JPG"') WHERE name = 'Carl Sagan';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/8/85/Oppenheimer_%28cropped%29.jpg"') WHERE name = 'J. Robert Oppenheimer';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/1/1f/Subrahmanyan_Chandrasekhar.jpg"') WHERE name = 'Subrahmanyan Chandrasekhar';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/7b/Yukawa.jpg"') WHERE name = 'Hideki Yukawa';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/e/ea/Saint_Augustine_by_Philippe_de_Champaigne.jpg"') WHERE name = 'Augustine of Hippo';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/3/33/Philip_Fruytiers_-_St._Francis_of_Assisi.jpg"') WHERE name = 'Francis of Assisi';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/9/90/Lucas_Cranach_d.%C3%84._-_Martin_Luther%2C_1528_%28Veste_Coburg%29.jpg"') WHERE name = 'Martin Luther';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/f/f9/Ignatius_Loyola.jpg"') WHERE name = 'Ignatius Loyola';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/5/58/John_Calvin_Museum_Catharijneconvent_RMCC_s84_cropped.png"') WHERE name = 'John Calvin';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/d/d6/Mother_Teresa_1.jpg"') WHERE name = 'Mother Teresa';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/e/e0/Billy_Graham_bw_photo%2C_April_11%2C_1966.jpg"') WHERE name = 'Billy Graham';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/9/9c/ADAMELLO_-_PAPA_-_Giovanni_Paolo_II_-_panoramio_%28cropped%29.jpg"') WHERE name = 'Pope John Paul II';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/e/e4/Archbishop-Tutu-medium.jpg"') WHERE name = 'Desmond Tutu';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/f/fb/The_Dalai_Lama_in_2012.jpg"') WHERE name = 'Dalai Lama XIV';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/0f/Dark_vignette_Al-Masjid_AL-Nabawi_Door800x600x300_%28cropped%29.jpg"') WHERE name = 'Muhammad';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/f/ff/Buddha_in_Sarnath_Museum_%28Dhammajak_Mutra%29.jpg"') WHERE name = 'Gautama Buddha';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/02/Michelangelo_Daniele_da_Volterra_%28dettaglio%29.jpg"') WHERE name = 'Michelangelo Buonarroti';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/6/6e/Joseph_Karl_Stieler%27s_Beethoven_mit_dem_Manuskript_der_Missa_solemnis.jpg"') WHERE name = 'Ludwig van Beethoven';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/e/e8/Frederic_Chopin_photo.jpeg"') WHERE name = 'Fr├⌐d├⌐ric Chopin';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/4/4c/Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project_%28454045%29.jpg"') WHERE name = 'Vincent van Gogh';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/6/6a/Johann_Sebastian_Bach.jpg"') WHERE name = 'Johann Sebastian Bach';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/0c/Mark_Twain_by_AF_Bradley.jpg"') WHERE name = 'Mark Twain';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/2/28/ErnestHemingway.jpg"') WHERE name = 'Ernest Hemingway';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/1/16/Louis_Armstrong_in_Color_%28restored%29.jpg"') WHERE name = 'Louis Armstrong';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/8/82/Charlie_Chaplin_portrait_Getty_1739411952.jpg"') WHERE name = 'Charlie Chaplin';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/3/3a/Toni_Morrison.jpg"') WHERE name = 'Toni Morrison';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/6/62/1926_Rabindrath_Tagore.jpg"') WHERE name = 'Rabindranath Tagore';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/b/b5/Yasunari_Kawabata_1938.jpg"') WHERE name = 'Yasunari Kawabata';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/72/Amelia_Earhart_standing_under_nose_of_her_Lockheed_Model_10-E_Electra%2C_small_%28cropped%29.jpg"') WHERE name = 'Amelia Earhart';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/3/3d/Marco_Polo_-_costume_tartare.jpg"') WHERE name = 'Marco Polo';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/c/c2/Portrait_of_a_Man%2C_Said_to_be_Christopher_Columbus.jpg"') WHERE name = 'Christopher Columbus';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/9/9c/Ferdinand_Magellan.jpg"') WHERE name = 'Ferdinand Magellan';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/76/Captainjamescookportrait.jpg"') WHERE name = 'James Cook';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/8/85/Lewis_and_Clark.jpg"') WHERE name = 'Lewis and Clark';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/6/6f/Amundsen_in_fur_skins.jpg"') WHERE name = 'Roald Amundsen';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/b/bd/Ernest_Shackleton_before_1909.jpg"') WHERE name = 'Ernest Shackleton';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/2/24/Howard_carter.jpg"') WHERE name = 'Howard Carter';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/1/10/Cousteau1972_%28cropped%29.jpg"') WHERE name = 'Jacque Cousteau';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/5/51/Ranulph_Fiennes_2014.jpg"') WHERE name = 'Ranulph Fiennes';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/0e/2016_Malakka%2C_Stadhuys_%2809%29.jpg"') WHERE name = 'Zheng He';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/9/9c/Handmade_oil_painting_reproduction_of_Ibn_Battuta_in_Egypt%2C_a_painting_by_Hippolyte_Leon_Benett..jpg"') WHERE name = 'Ibn Battuta';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/2/28/SB_Anthony_from_RoRaWW.jpg"') WHERE name = 'Susan B. Anthony';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/e/e7/Elizabeth_Blackwell.jpg"') WHERE name = 'Elizabeth Blackwell';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/a/ab/Florence_Nightingale_%28H_Hering_NPG_x82368%29.jpg"') WHERE name = 'Florence Nightingale';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/c/c8/Marie_Curie_c._1920s.jpg"') WHERE name = 'Marie Curie';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/4/43/Rosa_Luxemburg_%28cropped%29.jpg"') WHERE name = 'Rosa Luxemburg';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/0f/%28Portrait_of_Harriet_Tubman%29_%28LOC%29_%2838899564300%29_%28cropped_3x4%29.jpg"') WHERE name = 'Harriet Tubman';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/d/d0/Frederick_Douglass_%28circa_1879%29_%28cropped%29.jpg"') WHERE name = 'Frederick Douglass';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/c/c4/Jane_Addams_-_Bain_News_Service.jpg"') WHERE name = 'Jane Addams';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/d/da/Wangari_Maathai_in_2001.jpg"') WHERE name = 'Wangari Maathai';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/7d/Eleanor_Roosevelt_at_the_United_Nations%2C_circa_1946-1947_%283x4_cropped%29.jpg"') WHERE name = 'Eleanor Roosevelt';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/7/7a/Mahatma-Gandhi%2C_studio%2C_1931.jpg"') WHERE name = 'Mahatma Gandhi';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/03/Malala_Yousafzai_2023_portrait_2x3.jpg"') WHERE name = 'Malala Yousafzai';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/d/d7/Andrew_Carnegie%2C_three-quarter_length_portrait%2C_seated%2C_facing_slightly_left%2C_1913_%28cropped%29_%282%29.jpg"') WHERE name = 'Andrew Carnegie';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/a/a0/Portrait_of_J._D._Rockefeller.jpg"') WHERE name = 'John D. Rockefeller';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/2/27/Henry_Ford_portrait_1915_original_%283x4_cropped%29.png"') WHERE name = 'Henry Ford';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/4/41/JohnPierpontMorgan.png"') WHERE name = 'J.P. Morgan';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/5/57/Cornelius_Vanderbilt_Daguerrotype2.jpg"') WHERE name = 'Cornelius Vanderbilt';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/8/89/John_Wesley_Jarvis_-_John_Jacob_Astor_-_Google_Art_Project.jpg"') WHERE name = 'John Jacob Astor';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/5/5b/MELLON%2C_ANDREW._SECRETARY_LCCN2016860988_%28cropped%29%28d%29.jpg"') WHERE name = 'Andrew Mellon';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/d/d4/Warren_Buffett_at_the_2015_SelectUSA_Investment_Summit_%28cropped%29.jpg"') WHERE name = 'Warren Buffett';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/8/88/Bill_Gates_at_the_European_Commission_-_2025_-_P067383-987995_%28cropped%29.jpg"') WHERE name = 'Bill Gates';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/0/03/Jeff_Bezos_visits_LAAFB_SMC_%283908618%29_%28cropped%29.jpeg"') WHERE name = 'Jeff Bezos';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/6/69/Mukesh_Ambani.jpg"') WHERE name = 'Mukesh Ambani';
UPDATE figures SET images = jsonb_set(images, '{0,url}', '"https://upload.wikimedia.org/wikipedia/commons/e/e8/Li_Ka_Shing.jpg"') WHERE name = 'Li Ka-shing';
